.tag-gy-footer {
    width: 100%;
    right: 0;
    bottom: 0;
    outline: 0;
    z-index: 20;
    position: fixed;
}
.tag-gy-footer .p-button-icon-only{
    width: 30%;
    margin-left: 1.25%;
}

.p-ripple-green .p-ink {
    background: rgb(22, 134, 22);
}

.p-ripple-yellow .p-ink {
    background: rgb(255, 173, 22);
}