.wrapper{
    background-color: var(--surface-d);
    color: var(--text-color);
    width: 100%;
}

.wrapper .p-card-content{
    font-size: 22px;
}

.select-tag-button{
    min-width: 15rem;
}

.p-scrollpanel.tag-bar .p-scrollpanel-bar {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
}

.p-scrollpanel.tag-bar .p-scrollpanel-bar:hover {
    background-color: #007ad9;
}

.p-scrollpanel.tag-bar .p-scrollpanel-content{
    padding-right: 0;
}

.box {
    cursor: pointer;
    width: fit-content;
    background-color: var(--surface-e);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.final-box{
    margin-right: 5rem !important;
}

.add-button{
    background: #9C27B0;
}

.tag-selected{
    background-color: var(--primary-color);
}