body {
  margin: 0;
  background-color: var(--surface-a);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c0001{
  cursor: pointer;
  position: relative;
}

.c0002{
  margin: 0 1px;
  display: inline-block;
}

.c0003{
  padding: 20px;
  line-height: 2;
}

.c0003 *::selection {
  background: #ffe184;
}

mark{
  color: inherit;
  margin: 0 0.15em;
  display: inline;
  padding: 0.25em 0.4em;
  background: #ffe184;
  font-weight: bold;
  line-height: 1;
  -webkit-box-decoration-break: clone;
}
